---
import "@/styles/global.css";
const miniapp = {
  version: "1",
  imageUrl: "https://game-car-beta.vercel.app/images/splasharts/large_splashart.webp",
  button: {
    title: "🚕 Start",
    action: {
      type: "launch_miniapp",
      url: "https://game-car-beta.vercel.app/",
      name: "Taxi Driver",
      splashImageUrl: "https://game-car-beta.vercel.app/images/splasharts/taxi_in_game.webp",
      splashBackgroundColor: "#f5f0ec",
    },
  },
};
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- head content -->
    <meta name="fc:miniapp" content={JSON.stringify(miniapp)} />
    <!-- For backward compatibility -->
    <meta name="fc:frame" content={JSON.stringify(miniapp)} />

    <link
      rel="preload"
      href="/fonts/Minecraft.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/PixelifySans-VariableFont_wght.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Taxi Driver</title>
  </head>
  <body class="bg-gray-900 text-white">
    <!-- car assets are created created by @MinZiin_  https://minzinn.itch.io/ -->
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
